---
---

@import "minimal-light-no-dark-mode";

.image.avatar {
  overflow: hidden;
  border-radius: 50%;
  background-color: #ffffff;
}

.image.avatar img {
  aspect-ratio: 1 / 1;
  object-fit: contain;
  object-position: center center;
}
