---
---

@import "minimal-light-no-dark-mode";

.image.avatar img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 220px;
  height: 220px;
  padding: 0;
}

@media print, screen and (max-width: 960px) {
  .image.avatar img {
    width: 180px;
    height: 180px;
  }
}

@media print, screen and (max-width: 480px) {
  .image.avatar img {
    width: 140px;
    height: 140px;
  }
}
